@font-face {
    font-family: 'Baloo2-R';
    src: url('./assets/fonts/Baloo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2-B';
    src: url('./assets/fonts/Baloo2-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
